* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.wrapper {
  position: relative;
  min-height: 100vh;
  max-width: 750px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  padding-top: 40px;
}

.title {
  text-align: center;
  font-family: "Kanit", serif;
  font-weight: 500;
  color: #252525;
  font-size: 26px;
  margin-top: 0;
  margin-bottom: 18px;
}

body.dark-theme .title {
  color: #F7F7F7;
}

.header {
  display: flex;
  flex-wrap: nowrap;
}

.header_search {
  width: 595px;
  height: 38px;
  padding-right: 11px;
  padding-left: 11px;
  font-size: 16px;
  font-weight: 500;
  margin-right: 16px;
  border-radius: 5px;
  border: 1px solid #6c63ff;
}

body.dark-theme .header_search {
  border: 1px solid #F7F7F7;
  background-color: #252525;
}

.header_select {
  height: 38px;
  font-family: Kanit;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 500;
  padding-left: 10px;
  margin-right: 16px;
  border: 2px solid #6c63ff;
  background-color: #6c63ff;
  border-radius: 5px;
  color: #f7f7f7;
}

.header_color-scheme {
  width: 38px;
  height: 38px;
  background-color: #6c63ff;
  background-image: url(../image/moon.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  border-radius: 5px;
}

body.light-theme {
  background-color: #f2f2f2;
  color: #000000;
}

body.light-theme .header_color-scheme {
  background-image: url(../image/moon.svg)
}


body.dark-theme {
  background-color: #2f2f2f;
  color: #ffffff;
}

body.dark-theme .header_color-scheme{
  background-image: url(../image/sun.png)
}

.list {
  margin-top: 30px;
  font-size: 20px;
  font-family: Kanit;
  text-transform: uppercase;
}

.item {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #6c63ff;
  padding-bottom: 17px;
  padding-top: 17px;
  cursor: pointer;
  user-select: none;
}

.item-1 {
  padding-top: 0;
}

.item-3 {
  border-bottom: none;
  padding-bottom: 0;
}

.option-edit {
  background: none;
  background-image: url(../image/pencil.svg);
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0;
  width: 18px;
  height: 18px;
  border: none;
  margin-right: 5px;
  transition: all 0.2s linear;
}

.option-delite {
  background: none;
  background-image: url(../image/basket.svg);
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0;
  width: 18px;
  height: 18px;
  border: none;
  transition: all 0.2s linear;
}

.item:hover .option-delite,
.item:hover .option-edit {
  opacity: 100;
}

.item-left {
  position: relative;
}

.item_checkbox {
  display: none;
}

.item_checkbox + label {
  position: relative;
  padding-left: 43px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.item_checkbox + label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 26px;
  height: 26px;
  border: 1px #6C63FF solid;
  border-radius: 2px;
}

.item_checkbox:checked + label::before {
  background-color: #6C63FF;
  background-image: url(../image/checkbox.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.item_checkbox:checked +label {
  color: #25252580;
  text-decoration: line-through;
}

body.dark-theme .item_checkbox:checked +label {
  color: #FFFFFF80;
}

.plus {
  position: absolute;
  bottom: 100px;
  right: 0;
  border: none;
  background-image: url(../image/plus.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #6c63ff;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
